<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEDh6iIZ5j8zzeUpfId3XxNkAO6nzjC5E</string>
	<key>GCM_SENDER_ID</key>
	<string>624838478202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-riverpod-5b2b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-riverpod-5b2b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624838478202:ios:2e8d2df74a56ab149a6ec3</string>
</dict>
</plist>